<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="icon" type="image/svg" href="/images/react.svg">
  {{> partials/styles}}
</head>
<body>
  {{{content}}}
  {{> partials/scripts}}
</body>
</html>
